@font-face {
    font-family: 'martyric';
    src: url('../font/martyric-webfont.woff') format('woff'),
         url('../font/martyric-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adidas';
    src: url('../font/texgyreadventor-bold-webfont.woff2') format('woff2'),
         url('../font/texgyreadventor-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../font/roboto/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('../font/roboto/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url(https://images.alphacoders.com/107/1072541.jpg);
    background-size: cover;
    margin: 0;
}
.button{
    background-color: rgba(159, 51, 51, 0.808);
    border: none;
    color: rgb(156, 174, 246);
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 80px;
    font-size: 15px;
    margin: 4px 3px;
    border-radius: 4rem;
    font-family: 'roboto';
    
}


.button2 {
    
    color: rgb(156, 174, 246);
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 3px;
    border-radius: 4rem;
    font-family: 'martyric';
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: rgb(58, 87, 248);
    color: gold;
}

.button3 {
    
    color: rgb(156, 174, 246);
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 3px;
    border-radius: 4rem;
    font-family: 'martyric';
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: rgb(58, 87, 248);
    color: gold;
}

a:hover{
    color: rgb(240, 221, 113);
}


img {
    max-width: 100%;
}
.slider-container {
    max-width: 400px;
    position: relative;
    margin: auto;
    margin-top: 20px;
    height: 900px;
    overflow: hidden;
    border-radius: 10px;
}
.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 50px;
    text-align: center;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #ccc;
    border-radius: 50px;
    margin-top: 2px;
    margin-right: 5px ;
   
}
.menu label:hover,.menu label:focus {
    background: #1c87c9;
}
.slide-input{
    opacity: 0;
}
.slide-img {
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.35s;
    border-radius: 10px;
}
[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.35s ease-out;
    border-radius: 10px;
}