@font-face {
    font-family: 'martyric';
    src: url('../font/martyric-webfont.woff') format('woff'),
         url('../font/martyric-webfont.woff2') format('woff2')
    
}

@font-face {
    font-family: 'adidas';
    src: url('../font/texgyreadventor-bold-webfont.woff2') format('woff2'),
         url('../font/texgyreadventor-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../font/roboto/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('../font/roboto/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url(https://images.alphacoders.com/107/1072541.jpg);
    background-size: cover;
    margin: 0;
}
.button{
    background-color: rgba(159, 51, 51, 0.808);
    border: none;
    color: rgb(156, 174, 246);
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 3px;
    border-radius: 4rem;
    font-family: 'roboto';
    width: 80px;
    
}


.button2 {
    
    color: rgb(156, 174, 246);
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 3px;
    border-radius: 4rem;
    font-family: 'martyric';
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: rgb(58, 87, 248);
    color: gold;
}

.button3 {
    
    color: rgb(156, 174, 246);
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 3px;
    border-radius: 4rem;
    font-family: 'martyric';
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: rgb(58, 87, 248);
    color: gold;
}

h1 {
    color: gold;
    font-family: 'roboto';
    -webkit-text-stroke: 0.0005rem;
    -webkit-text-stroke-color: rgb(58, 87, 248);
    margin-bottom: 2px;
    font-size: 2.5rem;
}

h2 {
    color: rgb(230, 216, 142);
    font-family: 'roboto';
    font-size: medium;
    margin-top: 0;
   
}


p {
    color: rgb(255, 255, 255);
    font-size: small;
    font-family: 'roboto';  
    text-align: justify;
    margin-top: 0;  

}

.pconclusion {
    color: rgb(255, 255, 255);
    font-size: medium;
    font-family: 'roboto';  
    text-align: justify;
    margin-top: 0;  
}

.intro {
    color: rgb(240, 221, 113);
    font-size: medium;
    font-family: 'roboto';  
    text-align: justify;
    margin-top: 0; 
}

.outro {
    color: rgb(240, 221, 113);
    font-size: medium;
    font-family: 'roboto';  
    text-align: justify;
    margin-top: 0; 
}

.interview {

    column-count: 6;
    position: relative;
    background-color: rgba(159, 51, 51, 0.808);
    padding: 3rem;
}

a:hover{
    color: rgb(240, 221, 113);
}

.conclusion{
    
    column-count: 6;
    position: relative;
    background-color: rgba(159, 51, 51, 0.808);
    padding: 6rem;
}

.titreconclu {
   
    color: gold;
    font-family: 'roboto';
    -webkit-text-stroke: 0.0005rem;
    -webkit-text-stroke-color: rgb(58, 87, 248);
    font-size: 2.5rem;

}

.entreprise {

    column-count: 2;
    position: relative;
    background-color: rgba(159, 51, 51, 0.808);
    padding: 3rem;
}

.ent {
    color: rgb(255, 255, 255);
    font-size: medium;
    font-family: 'roboto';  
    text-align: justify;
    margin-top: 0;  

}

.prise {
    color: rgb(230, 216, 142);
    font-family: 'roboto';
    font-size: larger;
    margin-top: 0;
}

.siteofficiel{
    background-color: rgba(159, 51, 51, 0.808);
    border: none;
    color: rgb(156, 174, 246);
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 3px;
    border-radius: 4rem;
    font-family: 'roboto';

}

.lien {
    text-decoration: none;
}

.galerieofficiel{   
    color: rgb(156, 174, 246);
    display: inline-block;
    font-size: medium;
    font-family: 'roboto';
}

.galerietom{   
    color: rgb(156, 174, 246);
    display: inline-block;
    font-size: small;
    font-family: 'roboto';
}

